<h4> Enter your information here</h4>
<form method="post" action="/calculate">
  <div>
    <label>Full Name:</label> <br>
    <input type="text" name="full_name"  id="name" required placeholder="Subhram Dasgupta"    
  </div>
  <div><label for="age">Age</label> <br>
    <input type="text" name="age" id="age">
  </div>
  <div>  
    <label for="height">Height:</label><br>
    <input type="text" name="height" id="height" placeholder="In metres">
  </div>
  <div>
    <label for="weight">Weight:</label><br>
    <input type="text" name="weight" id="weight" placeholder="In kgs">
  </div>
    <br>
    <input type="submit" name="calculate"> 
</form>
